// Custom colors
$primary: $color-primary;
$info: $color-info;

// Bulma core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.button .fa-sort-down {
  position: relative;
  top: -2px;
}
.dropdown-menu .dropdown-item > .icon {
  margin-right: 6px;
}