// Mixin to create hover & disabled states for solid colored buttons
@mixin buttonBackgroundColor($color) {
  background-color: $color;
  background-image: none;

  &:hover {
    background-color: darken($color, 4%);
  }
  &[disabled] {
    background-color: $color;
  }
}

.button {
  display: inline-block;
  padding: 0 14px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 38px;
  font-weight: $font-bold;
  border-radius: 4px;
  color: #626C84;
  text-decoration: none;
  @include buttonBackgroundColor(#F2F3F5);
  border: none;
  transition: all 0.1s ease-out;
  cursor: pointer;
  
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
  }

  // Button color styles
  &.button-info {
    color: $white;
    @include buttonBackgroundColor($color-info);
    &.button-loading:after { border-left-color: $white }
  }
  &.button-success {
    color: $white;
    @include buttonBackgroundColor($color-success);
    &.button-loading:after { border-left-color: $white }
  }
  &.button-danger {
    color: $white;
    @include buttonBackgroundColor($color-danger);
    &.button-loading:after { border-left-color: $white }
  }
  &.button-warning {
    color: #4C421A;
    @include buttonBackgroundColor($color-warning);
    &.button-loading:after { border-left-color: $white }
  }
  &.button-dark {
    color: $white;
    @include buttonBackgroundColor($color-dark);
    &.button-loading:after { border-left-color: $white }
  }

  // Button sizes
  &.button-sm {
    padding: 0 12px;
    line-height: 36px;
  }
  &.button-md {
    line-height: 44px;
  }

  &.button-full {
    width: 100%;
  }

  // Icon buttons
  &.button-icon {
    padding: 6px 7px;
    font-size: 17px;
    line-height: 90%;
  }

  // Loading buttons
  &.button-loading {
    &:after {
      width: 10px;
      height: 10px;
      margin-left: 8px;
      display: inline-block;
      content: '';
      vertical-align: middle;
      border: 3px solid rgba(0, 0, 0, 0.15);
      border-left-color: $color-info;
      border-radius: 50%;
      animation: donut-spin 1.2s linear infinite;
    }
    &[disabled] {
      opacity: 1;
    }
  }
}
