.message {
  color: $white;
  background-color: $color-info;
  padding: 14px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 12px;
  
  &.info {
    color: #fff;
    background-color: $color-info;
  }
  &.error {
    color: #fff;
    background-color: $color-danger;
  }
  &.success {
    color: rgba(0,0,0,0.8);
    background-color: $color-success;
  }
  &.warning {
    color: rgba(0,0,0,0.8);
    background-color: $color-warning;
  }
}
