.message {
  color: #626C84;
  background-color: #F2F3F5;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 12px;
  
  &.info {
    color: $white;
    background-color: $color-info;
  }
  &.error, &.danger {
    color: $white;
    background-color: $color-danger;
  }
  &.success {
    color: $white;
    background-color: $color-success;
  }
  &.warning {
    color: rgba(0,0,0,0.7);
    background-color: $color-warning;
  }
  &.dark {
    color: $white;
    background-color: $color-dark;
  }
}

.badge {
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  line-height: 18px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-info;
  border-radius: 50px;
}