.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $pad;
  margin-bottom: 0;
  padding-bottom: $pad;
  border-bottom: 1px solid $color-border;

  h2 {
    margin-bottom: 0;
    font-weight: $font-semi;
  }
}
.modal-content {
  margin: $pad;
}
.modal-close {
  @extend [class^="icon-"];
  padding: 2px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 0.7;
  }
  &:after {
    @extend .icon-x-circle:before;
  }
}