$measures: (
    'auto': auto,
    '0': 0,
    '1': 0.5rem,
    '2': 0.75rem,
    '3': 1rem,
    '4': 1.5rem,
    '5': 2rem,
    '6': 3rem
);

@each $key, $value in $measures {
    .p-#{$key} {
        padding: $value;
    }

    .pt-#{$key} {
        padding-top: $value;
    }

    .pb-#{$key} {
        padding-bottom: $value;
    }

    .pl-#{$key} {
        padding-left: $value;
    }

    .pr-#{$key} {
        padding-right: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .mt-#{$key} {
        margin-top: $value;
    }

    .mb-#{$key} {
        margin-bottom: $value;
    }

    .ml-#{$key} {
        margin-left: $value;
    }

    .mr-#{$key} {
        margin-right: $value;
    }

    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

$container-sizes: (20, 25, 50, 75, 80, 100);

@each $size in $container-sizes {
  .container-#{$size}p {
    width: percentage($size/100);
  }
}

$container-sizes-fixed: (600, 800, 1000);

@each $size in $container-sizes-fixed {
  .container-#{$size} {
    max-width: #{$size}px;
  }
}
