$pretty--color-default: $color-info;
$pretty--color-primary: $color-info;
$pretty--color-info: $color-info;
$pretty--color-success: $color-success;
$pretty--color-warning: $color-warning;
$pretty--color-danger: $color-danger;

.pretty .state label:before {
  border-color: #bdc3c7 !important;
}
