$tooltip-bg: rgba(40, 48, 58, 0.95);

.vue-tooltip {
  box-sizing: border-box;
  max-width: 320px;
  padding: 16px;
  font-size: 95%;
  line-height: 115%;
  border-radius: 4px;
  z-index: 100;
  margin-top: 14px;

  color: $white;
  background: $tooltip-bg;

  .tooltip-content {
    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

.vue-tooltip .vue-tooltip-content {
  text-align: left;
}

.vue-tooltip .tooltip-arrow {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $tooltip-bg;
  position: absolute;
  top: -6px;
}

.vue-tooltip[x-placement^="top"] {
  margin-bottom: 5px
}

.vue-tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-top-color: $tooltip-bg;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  bottom: -5px;
  margin-top: 0;
  margin-bottom: 0
}

.vue-tooltip[x-placement^="bottom"] {
  margin-top: 5px
}

.vue-tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-bottom-color: $tooltip-bg;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  top: -5px;
  margin-top: 0;
  margin-bottom: 0
}

.vue-tooltip[x-placement^="right"] {
  margin-left: 5px
}

.vue-tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-right-color: $tooltip-bg;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  margin-left: 0;
  margin-right: 0
}

.vue-tooltip[x-placement^="left"] {
  margin-right: 5px
}

.vue-tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-left-color: $tooltip-bg;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  margin-left: 0;
  margin-right: 0
}