.checkout {
  position: relative;

  .gateway {
    margin-top: $pad;
    padding: 24px;
    background: $white;
    border: 1px solid $color-border;
    border-radius: 4px;

    .description {
      margin-bottom: 16px;
    }
    .order-total {
      margin: $pad 0;
      font-size: 18px;
      font-weight: $font-bold;

      .amount {
        color: $color-success;
      }
    }
  }
  .loading-overlay {
    width: 100%;
    height: 100%;
    padding: $pad;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.85);

    h3 {
      margin-bottom: 12px;
    }
  }
  .paid {
    text-align: center;
  
    .icon-check-circle {
      font-size: 56px;
      color: $color-success;
    }
  }
}