.daemon-details {
  margin: 0 $pad;
  padding: $pad 0;
  border-top: 1px solid $color-border;

  .line {
    margin-bottom: 6px;

    [class^="icon-"] {
      margin-right: 4px;
      font-size: 110%;
      opacity: 0.5;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}