.invoice {
  width: 820px;
  padding: 30px;
  background: $white;
}
.invoice-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.invoice-logo-container {
  flex-grow: 1;
}
.invoice-header-details {
  flex-grow: 1;
  text-align: right;

  .invoice-title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 100%;
    font-weight: $font-semi;
    text-transform: uppercase;
  }
  .invoice-company {
    font-weight: $font-bold;
  }
}
.invoice-address {
  margin-top: 10px;

  .address-field {
    line-height: 20px;

    &.spaced {
      margin-top: 10px;
    }
  }
}
.invoice-divider {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  display: block;
  background: $color-smoke;
}
.invoice-details {
  display: flex;

  .invoice-client {
    flex-grow: 1;
  }
  .invoice-info {
    width: 320px;
  }
  .invoice-info-table {
    width: 100%;
    border-collapse: collapse;

    tr {
      line-height: 22px;

      td {
        padding: 4px 0;
  
        &:first-child {
          padding-right: 16px;
          text-align: right;
        }
      }
      &.invert {
        background: $color-darker;
        color: $white;
      }
    }
  }
  .invoice-details-title {
    display: block;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: $font-bold;
    text-transform: uppercase;
  }
}
.invoice-status-unpaid {
  color: $color-danger;
}
.invoice-status-paid {
  color: $color-success;
}
.invoice-totals {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  text-align: right;
  
  .invoice-totals-line {

    .label, .amount {
      display: inline-block;
    }
    .amount {
      width: 125px;
    }
  }
  .invoice-total-outstanding {
    margin-top: 16px;
  }
}