.auth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  .auth-container {
    width: 350px;
    padding: $pad;
    color: $color-primary;
    background: $white;
    border: 1px solid $color-border;
    border-radius: 4px;
  }
  .logo-container {
    width: 100%;
    margin-bottom: $pad;
    text-align: center;
  }
  .bottom-link {
    display: inline-block;
    margin-top: $pad;
    text-decoration: none;
    color: $color-dark;

    &:hover {
      color: $color-primary;
    }
  }
}