// Mixin to create hover & disabled states for solid colored buttons
@mixin buttonBackgroundColor($color, $darkText: false, $hoverLighten: 50%, $whiteLoader: true) {
  background-color: $color;
  border-color: $color;
  background-image: none;

  @if $darkText { color: rgba(0,0,0,0.7) }
  @else { color: $white; }

  &:hover {
    background-color: darken($color, 4%);
  }
  &[disabled] {
    background-color: $color;
  }
  &.button-bordered {
    background-color: transparent;
    color: $color;

    &:hover {
      background-color: $color;

      @if $darkText { color: rgba(0,0,0,0.7) }
      @else { color: $white; }
    }
    &[disabled] {
      background-color: transparent;
      color: $color;
    }
  }
  &.button-loading:after {
    @if $whiteLoader { border-left-color: $white }
  }
}

.button, [class^="button-"] {
  display: inline-block;
  padding: 10px 18px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 100%;
  font-weight: $font-semi;
  border-radius: 50px;
  color: #626C84;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.1s ease-out;
  cursor: pointer;
  vertical-align: top;
  white-space: nowrap;
  @include buttonBackgroundColor(#E9E9E9, true, 0%, false);
  
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
  }

  // Button color styles
  &.button-info {
    @include buttonBackgroundColor($color-info, false, 62%);
  }
  &.button-success {
    @include buttonBackgroundColor($color-success, false, 50%);
  }
  &.button-danger {
    @include buttonBackgroundColor($color-danger, false, 10%);
  }
  &.button-warning {
    @include buttonBackgroundColor($color-warning, true, 30%);
  }
  &.button-dark {
    @include buttonBackgroundColor($color-dark, false, 64%);
  }

  // Button sizes
  &.button-md {
    padding: 13px 20px;
  }
  &.button-sm {
    padding: 8px 14px;
  }

  &.button-full {
    width: 100%;
  }

  // Icons within buttons
  [class^="icon-"]:before {
    margin-right: 5px;
    position: relative;
    top: 1px;
  }

  // Icon buttons
  &.button-icon {
    padding: 6px 7px;
    font-size: 17px;
    line-height: 90%;

    [class^="icon-"] {
      margin-right: 0;
      top: 0;
    }
  }

  // Loading buttons
  &.button-loading {
    cursor: progress;

    &:after {
      width: 10px;
      height: 10px;
      margin-left: 8px;
      display: inline-block;
      content: '';
      vertical-align: middle;
      border: 3px solid rgba(0, 0, 0, 0.15);
      border-left-color: $color-info;
      border-radius: 50%;
      animation: donut-spin 1.2s linear infinite;
    }
    &[disabled] {
      opacity: 1;
      cursor: progress;
    }
  }

  // Sort buttons
  &.button-sort {
    color: $color-primary;
    background: #fff;
    border: 1px solid $color-border;
  }
}