// Input padding
.form-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 14px;
}
.input-with-tooltip {
  display: flex;
  align-items: center;

  input, select {
    flex: 1;
  }
  .tooltip-trigger {
    margin-left: 8px;
  }
  &.tooltip-space {
    .tooltip-trigger {
      margin-right: 8px;
    }
  }
}
.form-checkbox {
  margin-bottom: 8px;
  vertical-align: middle;

  label, input {
    cursor: pointer;
  }
  input {
    margin-right: 2px;
  }
}

// Input error messages
.input-error-message {
  display: block;
  margin-top: 6px;
  color: $color-danger;
  font-weight: $font-bold;
  line-height: 20px;

  a {
    color: $color-danger;
    text-decoration: underline;
  }
}

// Input labels
.label {
  display: block;
  margin-bottom: 10px;

  label {
    display: inline-block;
    color: $color-dark;
    line-height: 100%;
    cursor: pointer;
  }
}

.input-note {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 12px;
  font-size: 95%;
  opacity: 0.7;
}