// Input padding
.form-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 14px;

  .input-with-tooltip {
    display: flex;
    align-items: center;

    input, select {
      flex: 1;
    }
    .tooltip-trigger {
      margin-left: 12px;
    }
  }
}
.form-checkbox {
  margin-bottom: 8px;
  vertical-align: middle;

  label, input {
    cursor: pointer;
  }
  input {
    margin-right: 2px;
  }
}

// Input error messages
.input-error-message {
  display: block;
  margin-top: 6px;
  color: $color-danger;
  font-weight: $font-bold;
  line-height: 20px;
}

// Input labels
.label {
  display: block;
  margin-bottom: 10px;

  label {
    display: inline-block;
    color: $color-dark;
    font-size: $font-size;
    line-height: 100%;
    cursor: pointer;
  }
}