.container {
  display: block;
  padding: $pad;

  .section {
    margin-bottom: $pad;
    background: $white;
    border: 1px solid $color-border;
    border-radius: 4px;

    &.padded {
      padding: $pad;
    }
    &:last-child {
      margin-bottom: 0;
    }

    > .title {
      padding: $pad;
      border-bottom: 1px solid $color-border;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
      h6 {
        margin-top: 12px;
      }
    }

    .content {
      padding: $pad;
    }
  }

  @include grid-container;
}

.grid-container {
  @include grid-container;
}

.boxed {
  width: 100%;
  height: auto;
  padding: $pad;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &.boxed-centered {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .boxed-container {
    width: 100%;
    max-width: 350px;
    padding: $pad;
    color: $color-primary;
    background: $white;
    border: 1px solid $color-border;
    border-radius: 4px;

    &.boxed-md {
      max-width: 500px;
    }
  }
}

.content-split {
  width: 100%;
  display: flex;

  .split-list {
    width: 250px;
    padding: 12px;
    background: $white;
    border: 1px solid $color-border;
    border-radius: 4px;

    .filter-link {
      display: block;
      margin-bottom: 5px;
      padding: 0 14px;
      color: $color-primary;
      line-height: 40px;
      text-decoration: none;
      border-radius: 4px;
      transition: all 0.1s ease-out;

      &:hover {
        color: $color-info;
        background: lighten($color-info, 53%);
      }
      &.router-link-exact-active, &.active {
        color: $white;
        background-color: $color-info;
        font-weight: $font-semi;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .node-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      .actions {
        a {
          padding-left: 6px;
    
          &:first-child {
            margin-left: 0;
          }
        }
    
        .action-remove {
          color: $color-danger;
        }
      }
      .group-name {
        flex: 1;
        font-size: 100%;
      }
      .count {
        font-size: 12px;
        font-weight: $font-semi;
        opacity: 0.5;
      }
    }
  }
  .nodes-sidebar {
    > div {
      padding: 12px;
      border-radius: 4px;
      transition: all 0.1s ease-out;
      cursor: pointer;
      
      &:hover {
        color: $color-info;
        background: lighten($color-info, 53%);
      }
      &.active {
        color: $white;
        background-color: $color-info;
  
        .group-name {
          font-weight: $font-semi;
        }
        .count {
          opacity: 1;
        }
      }
    }
  }
  .split-details {
    flex: 1;
    padding-left: $pad;
  }
}

.col-container {
  display: flex;
  flex-direction: row !important;

  &.reduce-spacing > .col {
    padding: 0 $pad/4;
  }
  > .col {
    flex: 1;
    padding: 0 $pad/2;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  > .col-half {
    width: 50%;
    padding-right: $pad/2;
  }
}

.separator {
  width: 100%;
  height: 1px;
  display: block;
  margin: 16px 0;
  background-color: $color-border;
  content: '';
}

.items-centered {
  display: flex;
  align-items: center;

  label {
    margin-right: 12px;
  }
}