.message {
  display: flex;
  align-items: center;
  position: relative;
  padding: 14px 16px;
  color: rgba(0,0,0,0.8);
  background-color: #E9E9E9;
  font-size: 100%;
  line-height: 150%;
  font-weight: $font-semi;
  margin-bottom: 12px;
  border-radius: 4px;

  > div {
    flex: 1;

    &.actions {
      flex: none;
      margin-left: 12px;
    }
    h5 {
      display: flex;
      align-items: flex-end;
      margin-top: 2px;
      margin-bottom: 0;
      line-height: 20px;
    }
    p {
      margin-top: 0.5em;
      font-size: 100%;
      line-height: 150%;
      font-weight: $font-regular;
      opacity: 0.8;
  
      &.actions {
        opacity: 1;
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
  .button, [class^="button-"] {
    color: inherit;
    text-decoration: none;
    line-height: 130%;
    background: rgba(0,0,0,0.075);
    border: none;
    border-radius: 4px;

    &:hover {
      background: rgba(0,0,0,0.15);
    }
    [class^="icon-"] {
      font-size: 100%;
      opacity: 1;
    }
  }
  ul {
    padding-left: 22px;
    list-style: circle;
    line-height: 150%;

    li {
      padding-left: 4px;
    }
  }

  &:before {
    @extend [class^="icon-"];
    @extend .icon-message-square:before;
    
  }

  [class^="icon-"], &:before {
    align-self: flex-start;
    font-size: 18px;
    margin-right: 8px;
    opacity: 0.8;
  }

  &.no-icon:before {
    display: none;
  }

  &.message-info {
    color: $white;
    background: $color-info;

    .button, [class^="button-"] {
      background: rgba(0,0,0,0.15);

      &:hover {
        background: rgba(0,0,0,0.3);
      }
    }

    &:before { @extend .icon-info:before; }
  }
  &.message-error, &.message-danger {
    color: $white;
    background: $color-danger;

    &:before { @extend .icon-alert-circle:before; }
  }
  &.message-success {
    color: $white;
    background: $color-success;

    &:before { @extend .icon-check-circle:before; }
  }
  &.message-warning {
    color: rgba(0,0,0,0.7);
    background: $color-warning;

    .button, [class^="button-"] {
      color: rbga(0,0,0,0.7);
    }
    &:before { @extend .icon-alert-triangle:before; }
  }
  &.message-dark {
    color: $white;
    background: $color-dark;

    .button, [class^="button-"] {
      background: rgba(0,0,0,0.2);

      &:hover {
        background: rgba(0,0,0,0.35);
      }
    }
  }
}