.tabs {
  margin-bottom: $pad;

  > li {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 14px 16px;
    border: 1px solid transparent;
    cursor: pointer;

    &.active {
      font-weight: $font-semi;
      color: $color-info;
      border: 1px solid $color-border;
      border-bottom: 1px solid white;
    }
  }

  &:after {
    width: 100%;
    height: 1px;
    display: block;
    background: $color-border;
    content: '';
  }
}