p {
  line-height: 160%;
  
  &.small {
    font-size: 90%;
    color: #999999;
  }
  &.spaced {
    margin-bottom: 12px;
  }
  &.sub {
    color: #666666;
  }
}

a {
  color: $color-info;
  text-decoration: none;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.font-mono {
  font-family: monospace !important;
}

.tooltip-text-trigger {
  text-decoration: underline;
  cursor: pointer;
}