// Basic colors
$white:         #FFFFFF;
$black:         #000000;

// Main brand color
$color-brand:   #18FF6D;

// Main text color
$color-primary: #28303A;

// Main background color
$color-bg:      #FBFBFD;

// State colors
$color-success: #4CAF50;
$color-info:    #1D22C6;
$color-danger:  #f44336;
$color-warning: #FFC107;

// Border colors
$color-border:  #F0F0F2;

// Neutral shades
$color-smoke:   rgba(0,0,0,0.025);
$color-dark:    #363636;
$color-darker:  #101418;
$color-light:   #999999;
