// Basic colors
$white:         #FFFFFF;
$black:         #000000;

// Main brand color
$color-brand:   #18FF6D;

// Main text color
$color-primary: #000000;

// Main background color
$color-bg:      #FFFFFF;

// State colors
$color-success: #44BD32;
$color-info:    #0747A6;
$color-danger:  #E84118;
$color-warning: #FFC107;

// Border colors
$color-border:  #E3E3E3;

// Neutral shades
$color-smoke:   rgba(0,0,0,0.03);
$color-dark:    #363636;
$color-darker:  #101418;
$color-light:   #999999;
