// Main brand color
$color-brand:   #18FF6D;

// State colors
$color-success: #35AC45;
$color-info:    #356ADD;
$color-danger:  #FE0000;
$color-warning: #FFDD57;

// Neutral shades
$color-white:   #FFFFFF;
$color-smoke:   #F2F2F2;
$color-dark:    #363636;
$color-darker:  #101418;
